__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
.eggs/
*.egg-info/
wheels/
.venv/
venv/
ENV/
env/
.python-version
Pipfile.lock
poetry.lock
.pytest_cache/
.tox/
.nox/
.mypy_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
junit.xml
.cache/
logs/
*.log
.ipynb_checkpoints/
.idea/
.vscode/
.DS_Store
Thumbs.db
.env
.env.*
docs/_build/
